# General
ASPNETCORE_ENVIRONMENT=Development

# Database
MONGODB_PASSWORD=password
ConnectionStrings__mealplannerDb=mongodb://admin:password@mealplannerMongoDb:27017/mealplannerDb?authSource=admin

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
AUTH_KEYCLOAK_ID=mealplanner-web
AUTH_KEYCLOAK_SECRET= # Get this from the Keycloak Admin Console (Clients -> mealplanner-web -> Credentials)
AUTH_KEYCLOAK_ISSUER=http://localhost:8080/realms/mealplanner
AUTH_SECRET=supersecretvaluekeepitsecret

# Anthropic (recipe ingredient import)
Anthropic__ApiKey=

# URLs
services__api__http__0=http://mealplannerApi:5000
VITE_API_URL=http://localhost:5000
